<%- include('../partials/users/header.ejs') %>

    <!-- Breadcrumb Section Begin -->
    
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item image-zoom-container">
                            
                            <img class="product__details__pic__item--large image-zoom"
                                src="/productimages/<%=product.image[0]%>" alt="Product Image">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="/productimages/<%=product.image[1]%>"
                                src="/productimages/<%=product.image[1]%>" alt="">
                            <img data-imgbigurl="/productimages/<%=product.image[2]%>"
                                src="/productimages/<%=product.image[2]%>" alt="">
                            <!-- <img data-imgbigurl="/productimages/<%=product.image[3]%>"
                                src="/productimages/<%=product.image[3]%>" alt="">
                            <img data-imgbigurl="/productimages/<%=product.image[4]%>"
                                src="/productimages/<%=product.image[4]%>" alt=""> -->
                            <img data-imgbigurl="/productimages/<%=product.image[0]%>"
                                src="/productimages/<%=product.image[0]%>" alt="">

                        </div>
                    </div>
                </div>
                <br>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>
                            <%=product.name%>
                        </h3>
                        <br>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">
                            ₹<%=product.price%>
                        </div>
                       
                     <p style="color: forestgreen;">  CATEGORY :<%= product.category%> </p>
                         
                        <p><%=product.description%> </p>

                        <a href='#' onclick="show('<%-product._id%>')" class="primary-btn">ADD TO CART</a>
                        <a onclick="addtoWishlist('<%-product._id%>')" class="heart-icon"><span
                                class="icon_heart_alt"></span></a>
                                <% if (product.status === 'Out Of Stock') { %>
                                    <p style="color: red;">OUT OF STOCK</p>
                                <% } else { %>
                                    <p style="color: green;">IN STOCK</p>
                                    <% if (product.name === 'Violet Orchid Plant') { %>
                                        <h2 style="color: rgb(78, 5, 78);">50₹ Discount .... Don't Miss It</h2>
                                    <% } %>

                                    <% if (product.category === 'INDOOR PLANTS') { %>
                                        <h2 style="color:navy;">Buy any Indoor plant and get 10% off... Don't Miss It</h2>
                                    <% } %>
                                <% } %>

                              
                                <ul>
                                    <!-- <li><b>Availability</b> <span>In Stock</span></li>
                                    <li><b>Shipping</b> <span>01 day shipping.  </span> -->
                                    </li>
                                    <!-- <li><b>Weight</b> <span>0.5 kg</span></li> -->
                                    <li><b> </b>
                                        <div class="share">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa fa-pinterest"></i></a>
                                        </div>
                                    </li>
                                </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section> -->
    <!-- Related Product Section End -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
        function show(id) {
            $.ajax({
                url: "/addToCart",
                method: "post",
                data: {
                    id: id
                },
                success: (response) => {
                    if (response.success) {
                        swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Product added to cart',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                },
                error: (xhr) => {
                    if (xhr.status === 401) {
                        window.location.href = '/login';
                    } else if (xhr.status === 400) {
                        const response = xhr.responseJSON;
                        swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                }
            });
        }
        function addtoWishlist(id) {
            console.log(id)
            $.ajax({
                url: '/addtowhishlist',
                method: 'post',
                data: {
                    id: id
                },
                success: (response) => {
                    if (response.status) {
                        Swal.fire({
                            icon: 'success',
                            title: 'product added to wishlist',
                            showConfirmButton: false,
                            timer: 1000,

                        })

                    } else if (response.productExit) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Product already added to wishlist',
                            showConfirmButton: false,
                            timer: 1000

                        })

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Plz SignIn!',
                            showConfirmButton: false,
                            timer: 1000
                        })

                    }
                }

            })
        }

    </script>

    <style>
        .image-zoom-container {
            position: relative;
            z-index: 1;
        }

        .image-zoom {
            display: block;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease;
        }

        .image-zoom:hover {
            transform: scale(1.3);
            z-index: 1;
        }
    </style>


    <%- include('../partials/users/footer.ejs') %>